useDynLib(GUILDS)
import(pracma)
import(subplex)
importFrom("stats", "integrate", "optimize", "rbeta", "runif",
             "uniroot")
importFrom("utils", "flush.console")
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

